<div id="dashboard-page">
  <table>
    <tr>
      <td><%= erb :age %></td>
      <td><%= erb :auto_refresh_button %></td>
      <td><%= erb :minute_columns_button %></td>
      <td><%= erb :progress_button %></td>
    </tr>
  </table>
  <%= erb :traffic_lights %>
  <%= erb :traffic_lights2 %>
</div>

<script>
'use strict';
$(() => {

  const heartbeat = (forced) => {
    const seconds = (n) => n * 1000;
    cd.refreshDashboard(forced);
    setTimeout(heartbeat, seconds(10));
  };

  heartbeat(true);

});
</script>
