
<div id="dashboard-page">
  <table>
    <tr>
      <td><%= erb :age %></td>
      <td><%= erb :auto_refresh_button %></td>
      <td><%= erb :minute_columns_button %></td>
      <td><%= erb :progress_button %></td>
    </tr>
  </table>
  <%= erb :traffic_lights %>
  <%= erb :traffic_lights2 %>
</div>

<%= erb :refresh_dashboard %>
<%= erb :heartbeat %>

<script>
'use strict';
$(() => {
  cd.refreshDashboard();
});
</script>
