<div id="hover-tip-container"></div>
<%= erb :id %>
<%= erb :manifest %>
<%= erb :top_bar %>
<div id="dashboard-page">
  <%= erb :controls %>
  <%= erb :traffic_lights %>
</div>

<script>
'use strict';
$(() => {

  cd.refresh();
  const seconds = (n) => n * 1000; // millisecs
  const heartbeat = () => {
    if (cd.autoRefresh.isChecked()) {
      cd.refresh();
    }
    setTimeout(heartbeat, seconds(10));
  };
  setTimeout(heartbeat, seconds(10));

});
</script>
