<script>
'use strict';
$(() => cd.setupDisplayNamesClickHandlers());
</script>

<table class="display-box">
  <tr>
    <td>
      <div class="display-names">
        <% @display_names.each.with_index do |name,index| %>
          <div class="display-name"
               data-name="<%= name %>"
               data-index="<%= index %>">
            <%= escape_html(name) %>
          </div>
        <% end %>
      </div>
    </td>
    <td>
      <textarea class="display-content" readonly="readonly"></textarea>
    </td>
  </tr>
</table>

<div style="display:none;">
  <% @display_contents.each.with_index do |content,index| %>
     <textarea id="contents_<%= index %>"><%= escape_html(content) %>
     </textarea>
  <% end %>
</div>
